body {
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:cover;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}