.ui-header .ui-title {
	margin-right: 10%;
    margin-left: 10%;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -4em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 2em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}

   .ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5em !important;
    }


    .ui-flipswitch .ui-flipswitch-off {
    text-indent: .200em !important;
    }