@(achievements: List[Achievement])

@main("DreamApp") {

	<div data-role="page" id="page1" data-theme="d">
		
		<div data-role="header">
			<h1>Achievements</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
			<div data-role="navbar">
           		<ul>
           			<li><a id="achievementBtn">Individual</a></li>
           			<li><a href="#" class="ui-btn-active ui-state-persist">Team</a></li>
           		</ul>
            </div>
		</div>
		
		<div data-role="main" class="ui-content">
            
           <!-- <div data-role="collapsible-set" data-inset="false" data-theme="d">
                <div data-role="collapsible">
                    <h3>Being Social<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">10</span></h3>
                <p>Snap a picture of yourself at Dreamhack and share it on Facebook.</p>
                </div>
                <div data-role="collapsible">
                    <h3>The A-Team<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">15</span></h3>
                <p>Create a team.</p>
                </div>
                <div data-role="collapsible">
                    <h3>My Team Needs YOU!<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">20</span></h3>
                <p>Invite a friend to your team.</p>
                </div>
            </div>-->
			@if(achievements == null){
				<h1><b>You are currently not in a team.</b></h1> 
			}else{
				<div data-role="collapsible-set" data-inset="false" data-theme="d">  
				@for(achievement <- achievements){
					@if(achievement.getCompleted() == true){
						<div data-role="collapsible" data-theme="b" data-collapsed-icon="check">
							<h3>@achievement.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@achievement.getPoints()</span></h3>
							<p>@achievement.getDescription()</p>
						</div>
					}else{
						<div data-role="collapsible" data-theme="d" data-collapsed-icon="delete">
							<h3>@achievement.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@achievement.getPoints()</span></h3>
							<p>@achievement.getDescription()</p>
						</div>
					}
				}
				</div>	
			}
		</div>
	</div>

}