@(achievements: List[Achievement])

@main("DreamApp") {

	<script>
		$(document).ready(function() {	
			$("#redeemCodeForm").submit(function(event){
				$.ajax({
					type: "PUT",
					url: "/addAchievementToUser/"+Cookies.get("userID")+"/"+$('#cN').val(),
					success: function(data) {
						window.location = "/achievements/"+Cookies.get("userID");
					}
				});
			});	
		});
	</script>

	<div data-role="page" id="page1" data-theme="d">
		
		<div data-role="header">
			<h1>Achievements</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
			<div data-role="navbar">
           		<ul>
           			<li><a href="#" class="ui-btn-active ui-state-persist">Individual</a></li>
           			<li id="achievementTeamBtn"><a id="achievementTeamBtn">Team</a></li>
           		</ul>
            </div>
		</div>		
		<div data-role="main" class="ui-content">
			<a href="#redeemCode" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-a" data-transition="pop">Redeem Code</a>
			<div data-role="popup" id="redeemCode" data-theme="a" data-overlay-theme="b" data-position-to="window" class="ui-corner-all"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
				<form id="redeemCodeForm">
					<div style="padding:10px 20px;">
						<h3>Fill in the code</h3>
						<input type="text" name="code" id="cN" value="" placeholder="Code" data-theme="d">
						<button id="rcButton" type="submit" >Redeem</button>
					</div>
				</form>
			</div>
            <div data-role="collapsible-set" data-inset="false" data-theme="d">  
				@for(achievement <- achievements){
					@if(achievement.getCompleted() == true){
						<div data-role="collapsible" data-theme="b" data-collapsed-icon="check">
							<h3>@achievement.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@achievement.getPoints()</span></h3>
							<p>@achievement.getDescription()</p>
						</div>
					}else{
						<div data-role="collapsible" data-theme="d" data-collapsed-icon="delete">
							<h3>@achievement.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@achievement.getPoints()</span></h3>
							<p>@achievement.getDescription()</p>
						</div>
					}
				}
            </div>
		</div>
	</div>

}