@(mySchedule: Schedule)(myAchievements: List[Achievement])(myPoints: Integer)

@main("DreamApp") {
	
<div data-role="page" id="page5" data-theme="d">
		
		<div data-role="header">
			<h1>Home</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
		
		<div id="schedule "data-role="main" class="ui-content">
			
            <h1 align="center">Welcome to DreamApp!</h1>

            <br>

            <div data-role="collapsible-set" data-inset="false" data-theme="d">  	
				<div data-role="collapsible">
					<h3>Your achievements<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@myPoints</span></h3>
					@if(myAchievements == null || myAchievements.isEmpty() == true){
						<p><b>You have not completed any achievements.</b></p>
					}else{
						<p><b>You have completed the following achievements:</b></p>
						@for(achievement <- myAchievements){
							<p>@achievement.getName() - @achievement.getPoints() points</p>
						}
					}
				</div>
			</div>  

			<br>
			
	       <ul id="personal" data-role="listview" data-divider-theme="d">
            	<li data-role="list-divider" role="heading">Personal schedule</li>
            	<li id="noevent">You are not attending any events yet...</li>
				@if(mySchedule != null){
					<script>
						$("#noevent").hide();
					</script>
					@for(event <- mySchedule.getAllEvents()){	
						<li id="li@event.getName()" data-icon="info"><a href="#@event.getImagePath()" data-rel="popup"><img id="lolimg" src="/assets/images/icons/@event.getImagePath()" alt="lol" class="ui-li-thumb">@event.getDate() @event.getTime() @event.getName()</a></li>
						<div data-role="popup" id="@event.getImagePath()" data-overlay-theme="b" data-position-to="window"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> <div data-role="header"> <h1 id="poppyTitle">@event.getName()</h1></div><div data-role="main" class="ui-content"><p id="poppyDescription"> @event.getDescription()</p><br><center><input type="checkbox" data-role="flipswitch" name="switch" class="flipClassHome" id="@event.getName()" data-off-text="Not attending" data-on-text="Attending" data-wrapper-class="custom-size-flipswitch" checked=""><div class="fb-share-button" data-href="http://www.infernoonline.com" data-layout="button_count"></div></center></div></div>
					}
				}else{
					<script>
						$("#noevent").show();
					</script>
				}
			</ul>
		</div>
	</div>

}
