@(users: List[User])

@main("DreamApp") {

	<div data-role="page" id="page6" data-theme="d">

		<div data-role="header">
			<h1>Leaderboards</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
            <div data-role="navbar">
           		<ul>
           			<li><a id="leaderboardsBtn" class="ui-btn-active ui-state-persist">Individual</a></li>
           			<li><a id="leaderboardsTeamBtn" href="#">Team</a></li>
           		</ul>
            </div>
		</div>
		
		<div data-role="main" class="ui-content">
            
			<div data-role="collapsible-set" data-inset="false" data-theme="d">  
			@for(user <- users){	
				<div data-role="collapsible">
					<h3>@user.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@user.getPoints()</span></h3>
					@if(user.getAchievements().isEmpty() == true){
						<p><b>User has not completed any achievements.</b></p>
					}else{
						<p><b>Has completed the following achievements:</b></p>
						@for(achievement <- user.getAchievements()){
							<p>@achievement.getName() - @achievement.getPoints() points</p>
						}
					}
				</div>
			}
			</div>    
		</div>
	</div>

}