@(teams: List[Team])

@main("DreamApp") {

	<div data-role="page" id="page7" data-theme="d">
		
		<div data-role="header">
			<h1>Leaderboards</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
            <div data-role="navbar">
           		<ul>
           			<li><a href="/leaderboards">Individual</a></li>
           			<li><a href="#" class="ui-btn-active ui-state-persist">Team</a></li>
           		</ul>
            </div>
		</div>
		
		<div data-role="main" class="ui-content">
			<div data-role="collapsible-set" data-inset="false" data-theme="d">  
			@for(team <- teams){	
				<div data-role="collapsible">
					<h3>@team.getName()<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@team.getPoints()</span></h3>
					@if(team.getAchievements().isEmpty() == true){
						<p><b>Team has not completed any achievements.</b></p>
					}else{
						<p><b>Has completed the following achievements:</b></p>
						@for(achievement <- team.getAchievements()){
							<p>@achievement.getName() - @achievement.getPoints() points</p>
						}
					}
				</div>
			}
			</div>
		</div>
	</div>

}