@main("DreamApp") {

	<div data-role="page" id="page2" data-theme="d">
				
		<div data-role="header">
			<h1>Map</h1>
			<a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
				
		<div data-role="main" class="ui-content">
			<div style="width: 100%;">
				<img alt="" src="@routes.Assets.at("images/dhmap.jpg")" style="width: 100%;">
			</div>
		</div>
	</div>

}