@(team: Team)

@main("DreamApp") {
	
		<script>
		$(document).ready(function(){
			$("#leaveTeam").click( function(){
				$.ajax({
					type: 'PUT',
					url: '/leaveTeam/'+Cookies.get("userID")+'/'+$('#name').text(),
					success: function(){
						alert("User left team successfully");
						//$.mobile.pageContainer.pagecontainer("change", "/team/"+Cookies.get("userID"), {transition: "fade"});
						window.location = "/team/"+Cookies.get("userID");
					}
				});
			});
		});
		
	</script>

	<div data-role="page" id="page4" data-theme="d">
		
		<div data-role="header">
			<h1 id="name">@team.getName()</h1>
			<a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
		
		<div id="mainContent" data-role="main" class="ui-content">
			<ul id="0" data-role="listview">
				@for(user <- team.getMembers()){	
					<li data-icon="info">@user.getName()</a></li>
				}
			</ul>
			<br>
			<button id="leaveTeam">Leave team</button>
        </div>
	</div>

}