@(schedule: Schedule, preEvents: Schedule)

@main("DreamApp") {

	<script>
	$(document).ready(function(){
	
		$("#testBtn").click(function(){
			alert("clicked");
			$($(this).val("on").flipswitch("refresh"));
		});
		
	});
	</script>

	<div data-role="page" id="page4" data-theme="d">
		
		<div data-role="header">
			<h1>Schedule</h1>
			<a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
		
		<div id="mainContent" data-role="main" class="ui-content">
<!-- 			<div data-role="collapsible" data-inset="false">
				<h3>Pre-Events</h3> -->
					<ul id="0" data-role="listview" data-divider-theme="d">
						<li data-role="list-divider">Pre-Events</li>
						@for(event <- preEvents.getAllEvents()){	
							<li id="li@event.getName()" data-icon="info"><a href="#@event.getImagePath()" data-rel="popup"><img id="lolimg" src="/assets/images/icons/@event.getImagePath()" alt="lol" class="ui-li-thumb">@event.getDate() @event.getTime() @event.getName()</a></li>
							@if(event.getAttendance() == true){
								<div data-role="popup" id="@event.getImagePath()" data-overlay-theme="b" data-position-to="window"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> <div data-role="header"> <h1 id="poppyTitle">@event.getName()</h1></div><div data-role="main" class="ui-content"><p id="poppyDescription"> @event.getDescription()</p><br><center><input type="checkbox" data-role="flipswitch" name="switch" class="flipClassSchedule" id="@event.getName()" data-off-text="Not attending" data-on-text="Attending" data-wrapper-class="custom-size-flipswitch" checked=""><br><div class="fb-share-button" data-href="http://www.infernoonline.com" data-layout="button_count"></div></center></div></div>
							}else{
								<div data-role="popup" id="@event.getImagePath()" data-overlay-theme="b" data-position-to="window"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> <div data-role="header"> <h1 id="poppyTitle">@event.getName()</h1></div><div data-role="main" class="ui-content"><p id="poppyDescription"> @event.getDescription()</p><br><center><input type="checkbox" data-role="flipswitch" name="switch" class="flipClassSchedule" id="@event.getName()" data-off-text="Not attending" data-on-text="Attending" data-wrapper-class="custom-size-flipswitch" ><br><div class="fb-share-button" data-href="http://www.infernoonline.com" data-layout="button_count"></div></center></div></div>
							}
						}
					</ul>
			</div>
			<!--<br>-->
			<ul id="1" data-role="listview" data-divider-theme="d">
				<li data-role="list-divider">Main Events</li>
				@for(event <- schedule.getAllEvents()){		
					<li id="li@event.getName()" data-icon="info"><a href="#@event.getImagePath()" data-rel="popup"><img id="lolimg" src="/assets/images/icons/@event.getImagePath()" alt="lol" class="ui-li-thumb">@event.getDate() @event.getTime() @event.getName()</a></li>
					@if(event.getAttendance() == true){
						<div data-role="popup" id="@event.getImagePath()" data-overlay-theme="b" data-position-to="window"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> <div data-role="header"> <h1 id="poppyTitle">@event.getName()</h1></div><div data-role="main" class="ui-content"><p id="poppyDescription"> @event.getDescription()</p><br><center><input type="checkbox" data-role="flipswitch" name="switch" class="flipClassSchedule" id="@event.getName()" data-on-text="Attending" data-off-text="Not attending" data-wrapper-class="custom-size-flipswitch" checked=""><br><div class="fb-share-button" data-href="http://www.infernoonline.com" data-layout="button_count"></div></center></div></div>
					}else{
						<div data-role="popup" id="@event.getImagePath()" data-overlay-theme="b" data-position-to="window"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> <div data-role="header"> <h1 id="poppyTitle">@event.getName()</h1></div><div data-role="main" class="ui-content"><p id="poppyDescription"> @event.getDescription()</p><br><center><input type="checkbox" data-role="flipswitch" name="switch" class="flipClassSchedule" id="@event.getName()" data-on-text="Attending" data-off-text="Not attending" data-wrapper-class="custom-size-flipswitch"><br><div class="fb-share-button" data-href="http://www.infernoonline.com" data-layout="button_count"></div></center></div></div>
					}
				}
			</ul>		
			
        </div>
	</div>
}