@main("DreamApp") {

<!--	
		<script type="text/javascript">
			function loadIframe(iframeName, url) {
				$("#colli").collapsible( "option", "collapsed", true );
			    var $iframe = $('#' + iframeName);
			    if ( $iframe.length ) {
			        $iframe.attr('src',url);   
			        return false;
			    }
			    return true;
			}
		</script>
-->
		<div data-role="page" id="page2" data-theme="d">

				<div data-role="header">
					<h1>Stream</h1>
					<a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
				</div>
				
				<div data-role="main" class="ui-content">
					<!-- <div id="colli" data-role="collapsible" data-inset="false"> -->
						<!-- <h3>Choose your stream</h3> -->
						<ul data-role="listview">
							<li data-role="list-divider">Choose your stream</li>
							<li><a href="http://www.twitch.tv/dreamhackcs/embed" onclick="return loadIframe('ifrm', this.href);">Counter Strike: Global Offensive</a></li>
							<li><a href="http://www.twitch.tv/dreamleague/embed" onclick="return loadIframe('ifrm', this.href);">Dota 2</a></li>
							<li><a href="http://www.twitch.tv/dreamhacksc2/embed" onclick="return loadIframe('ifrm', this.href);">Starcraft 2</a></li>
							<li><a href="http://www.twitch.tv/dreamhackfighters/embed" onclick="return loadIframe('ifrm', this.href);">Ultra Street Fighter IV & Mortal Kombat X</a></li>
							<li><a href="http://www.twitch.tv/dreamhackhon/embed" onclick="return loadIframe('ifrm', this.href);">Heroes of Newerth</a></li>
							<li><a href="http://www.twitch.tv/dreamhacktv/embed" onclick="return loadIframe('ifrm', this.href);">Call of Duty: Advanced Warfare</a></li>
							<li><a href="http://www.twitch.tv/eafrance/embed" onclick="return loadIframe('ifrm', this.href);">Battlefield: Hardline</a></li>
							<li><a href="http://www.twitch.tv/redlynxofficial/embed" onclick="return loadIframe('ifrm', this.href);">Trials Fusion</a></li>
						</ul>
					</div>

					<!-- <iframe name="ifrm" id="ifrm" src="" frameborder="0" scrolling"no"></iframe> -->

				</div>
		</div>

}