@main("DreamApp") {
	<script>
		$(document).ready(function() {	
			$("#createTeam").submit(function(event){
				$.ajax({
					type: "PUT",
					url: "/createTeam/"+Cookies.get("userID")+"/"+$('#tN').val(),
					success: function(data) {
						window.location = "/team/"+Cookies.get("userID");
					}
				});
			});	
		});
	</script>

	<div data-role="page" id="page8" data-theme="d">
		
		<div data-role="header">
			<h1>Team</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
		
		<div data-role="main" class="ui-content">
			
			<a href="#popupCreateTeam" data-rel="popup" class="ui-btn ui-corner-all ui-shadow" data-transition="pop">Create team</a>
			<a href="/teamList" data-role="button" data-position-to="window" class="ui-btn ui-corner-all ui-shadow" data-transition="fade">Join team</a>
			<div data-role="popup" id="popupCreateTeam" data-theme="a" data-overlay-theme="b" data-position-to="window" class="ui-corner-all"> <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
				<form id="createTeam">
					<div style="padding:10px 20px;">
						<h3>Create Team(no special characters pls)</h3>
						<input type="text" name="teamName" id="tN" value="" placeholder="Team name" data-theme="d">
						<button id="ctButton" type="submit">Create</button>
					</div>
				</form>
			</div>
			<br>
			
		</div>
	</div>

}