@(teamList: ArrayList[Team])

@main("DreamApp") {

	<div data-role="page" id="page8" data-theme="d">
		
		<div data-role="header">
			<h1>Join a team</h1>
            <a href="#menyPanel" class="ui-nodisc-icon ui-alt-icon ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Menu</a>
		</div>
		
		<div data-role="main" class="ui-content">
			<ul data-role="listview" data-filter="true" data-filter-placeholder="Search teams..." data-inset="true">
				@for(team <- teamList){
					<li id="@team.getName" class="teamListButton"><a href="#">@team.getName</a></li>
				}
			<a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-back" data-rel="back">Go Back</a>
		</div>
	</div>

	</body>
</html>

}